/* A single tweet */
.all-tweets article {
  border: 4px solid #545149;
  margin: 80px 0 40px;
}

/* User profile image */
.all-tweets img {
  width: 60px;
  margin: 15px;
}

/* Name */
.all-tweets header span:nth-of-type(1) {
  position: relative;
  bottom: 1.5em;
  font-weight: 300;
}

/* Username (handle) */
.all-tweets header span:nth-of-type(2) {
  position: absolute;
  bottom: 1.7em;
  right: 7%;
  color: #54514956;
  font-weight: 400;
}

/* Tweet text */
.all-tweets p {
  margin: 0 0.4em;
  padding: 0.5em 1em 1.5em;
  border-bottom: 4px solid #545149;
  font-weight: 400;
}