/* A single tweet */
.tweet {
  border: 4px solid #545149;
  margin: 40px 0;
}

/* When hover over tweet, add shadow */
.tweet:hover {
  box-shadow: 7px 6px #54514956;
}

/* When hover over tweet, show icons in footer */
.tweet:hover footer span {
  display: inline;
}

/* User profile image */
.tweet img {
  width: 60px;
  margin: 15px;
}

/* Tweet header */
.tweet header {
  display: flex;
  align-items: center;
}

/* Name */
.tweet header span:nth-of-type(1) {
  font-weight: 300;
}

/* Username (handle) */
.tweet header span:nth-of-type(2) {
  color: #54514956;
  font-weight: 400;
  margin-left: auto;
  margin-right: 2em;
}

/* Tweet text */
.tweet p {
  margin: 0 0.4em;
  padding: 0.5em 1em 1.5em;
  border-bottom: 4px solid #545149;
  font-weight: 400;
  word-wrap: break-word;
}

/* Footer with timestamp and icons */
.tweet footer {
  font-size: 0.7em;
  margin: 0.8em 3.5%;
}

/* All icons in footer */
.tweet footer span {
  float: right;
  color: #4056A1;
  display: none;
}

/* Individual icons in footer */
.tweet footer i {
  padding: 0 4px;
}