nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  z-index: 99;
  padding: 1.5em;
  background-color: #4056A1;
  color: #ffffff;
}

/* Tweeter text */
nav span:nth-child(1) {
  font-family: Bungee, sans-serif;
  float: left;
  font-size: 1.5em;
}

/* Write a new tweet text */
nav span:nth-child(2) {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

/* Arrow icon */
nav i {
  position: absolute;
  right: 48%;
  bottom: -1.5em;
  color: rgba(242, 101, 25, 0.849);
  transition: all 0.5s ease;
}

nav i:hover {
  color: rgb(242, 101, 25);
  font-size: 1.3em;
  bottom: -1.3em;
  transition: all 0.5s ease;
}