/* New tweet section */
.new-tweet {
  display: none;
}

/* Tweet form */
.new-tweet form {
  margin: 60px 0 60px;
}

/* Text input field */
.new-tweet textarea {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 4px solid #545149 ;
  font-weight: 700;
  resize: none;
  outline: none;
  background-color: inherit;
  color: #545149;
}

/* Tweet button */
.new-tweet input {
  font-family: Bungee, sans-serif;
  background-color: #4056A1;
  color: #f4f1ec;
  outline: none;
  padding: 6px 9px;
  margin-top: 8px;
}

/* Tweet button hovering*/
.new-tweet input:hover {
  background-color: rgb(46, 70, 150);
}

/* Tweet button when pressed*/
.new-tweet input:active {
  background-color: rgb(60, 76, 122);
}

/* Character counter */
.counter {
  font-family: Bungee, sans-serif;
  color: #545149;
  float: right;
  margin-top: 14px;
}

/* For when character counter goes over the character limit */
.over-char-limit {
  color: #DB504A;
}

/* Error message (default hidden) */
.new-tweet h4 {
  margin: 0.5em 0;
  font-size: 0.9em;
  font-weight: 400;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 5px;
  display: none;
}

/* Error icon */
.new-tweet i {
  padding: 3px 10px;
}